* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  font-family: "Hanken Grotesk", sans-serif;
  text-align: center;
  place-content: center;
}

.main-card {
  display: grid;
  min-width: 377px;
  max-width: 700px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.resizeable-card {
  position: absolute;
}

.left-half {
  display: grid;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  color: white;
  text-align: center;
  border-radius: 0 0 2rem 2rem;
  padding: 1.25rem 3rem 2.75rem;
  gap: 0.5rem;
}

.score__circle {
  width: 140px;
  background-image: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  border-radius: 50%;
  margin: 1rem auto;
  padding: 1.4rem;
}

.score__header,
.score__circle-100,
.score__stats {
  color: hsl(241, 100%, 89%);
  font-weight: 500;
}

.score__header {
  font-size: 1.1rem;
}

.score__result {
  font-size: 1.5rem;
}

.right-half {
  display: grid;
  gap: 1rem;
}

.score__circle-percentage {
  font-size: 3.5rem;
  font-weight: 800;
}

.summary {
  text-align: left;
  margin: 1.5rem 1.5rem 0.75rem;
  font-size: 1.1rem;
}

.score-grid {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr;
  text-align: left;
  padding: 1.1rem;
}

.reaction {
  background-color: hsla(0, 100%, 67%, 5%);
  color: hsl(0, 100%, 67%);
  border-radius: 0.75rem;
  margin: 0 1.5rem;
}

.memory {
  background-color: hsla(39, 100%, 56%, 5%);
  color: hsl(39, 100%, 56%);
  border-radius: 0.75rem;
  margin: 0 1.5rem;
  border-bottom-color: grey;
}

.verbal {
  background-color: hsla(166, 100%, 37%, 5%);
  color: hsl(166, 100%, 37%);
  border-radius: 0.75rem;
  margin: 0 1.5rem;
}

.visual {
  background-color: hsla(234, 85%, 45%, 5%);
  color: hsl(234, 85%, 45%);
  border-radius: 0.75rem;
  margin: 0 1.5rem;
}

.icon {
  text-align: left;
  display: grid;
  align-content: center;
}

.score {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: right;
}

.score-value {
  color: hsl(224, 30%, 27%);
}

.score-100 {
  color: hsla(224, 30%, 27%, 60%);
}

.continue {
  border: none;
  border-radius: 3rem;
  height: 57px;
  margin: 0.5rem 1.5rem 1.5rem;
  background-color: hsl(224, 30%, 27%);
  font-size: 1.1rem;
  color: hsl(221, 100%, 96%);
}

.continue:hover {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  cursor: pointer;
}

footer {
  /* place-self: center; */
  font-size: 0.75rem;
  /* position: absolute;
  bottom: 2rem; */
}

@media (min-width: 500px) {
  .main-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 2rem;
    overflow: hidden;
  }

  .left-half {
    border-radius: 2rem;
    padding: 4rem;
  }
}
